h1 {
    text-align: center;
    background: greenyellow;
}

li {
    list-style-type: none;
}

/*nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}*/
